@import "tailwindcss";

@theme {
  /* Aqui conectamos as classes font-sans e font-serif às variáveis do Next.js */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  /* Cores personalizadas estilo Jornal */
  --color-stone-50: #fafaf9;
  --color-stone-900: #1c1917;
}

/* Estilos globais extras */
body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}