@import "tailwindcss";

/* 👇 O segredo para o Modo Escuro manual no Tailwind v4 👇 */
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --color-stone-50: #fafaf9;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}